<%- include ../public/header %>
<ul style="list-style:  none;">
    <li><a href="http://www.baidu.com" target="_blank">百度一下</a></li>
    <li><a href="http://www.baidu.com" target="_blank">百度一下</a></li>
    <li><a href="http://www.baidu.com" target="_blank">百度一下</a></li>
</ul>
<%- include ../public/footer %>